<section>
  <!-- begin page-section -->
  <div class="page-section">
    <div class="category-links__container">
      <div class="article">
        <h2 class="article__header">Why is it so hard to fund a growing Amazon business?</h2>
        <div class="article__social">
          <a href="#"><img class="social-icon" src="/assets/img/icons/social_facebook.svg" alt="facebook"></a>
          <a href="#"><img class="social-icon" src="/assets/img/icons/social_yuotube.svg" alt="facebook"></a>
          <a href="#"><img class="social-icon" src="/assets/img/icons/social_google.svg" alt="facebook"></a>
          <a href="#"><img class="social-icon" src="/assets/img/icons/social_twitter.svg" alt="facebook"></a>
        </div>
        <div class="article-text">
            That’s the question I kept asking myself. My Amazon business was booming, with revenue into the millions, but I came up empty handed every time I tried to get a business loan. I’d spend hours being force-fed high pressure sales tactics by fast-talking salesmen, filling out application forms, digging up documents, and cleaning up financial statements – only to be given an offer with horrible terms, or flat-out rejected.
            <br/>
            <br/>
            After growing a multi-million dollar Amazon business from a rented bedroom in a NYC apartment, I had first-hand knowledge of the problems sellers face. It’s next to impossible to stay several months ahead of a fast-growing business, leading to stockouts or forced cutbacks in other areas.
            <br/>
            <br/>
            With amzLenders, I wanted to create the perfect solution which would have made my path to success faster, easier, and far less stressful. While other lenders will search for ways to bleed your business dry, I wanted to lend at lower rates. I envisioned a simple, friendly, and painless way for Amazon sellers, like us, to finance the growth of lasting businesses. I wanted to create a different kind of lending company – one that thrives on honesty, transparency, technology, and fresh thinking.
        </div>

        <div class="article__answer">
            Was this helpful?
            <div class="article__confirm">
                <a href="#" class="article__button btn btn-outline">yes</a>
                <a href="#" class="article__button btn btn-outline">no</a>
            </div>
        </div>

        <div class="article__related">
          <div class="links-block">
            <h4 class="links-block__header links-block__header--margin-bottom">Related Articles</h4>
            <a href="article.html" class="links-block__link">How blockchain makes self-sovereign identities possible</a>
            <a href="article.html" class="links-block__link">Blockchain in the real world: 3 enterprise use cases</a>
            <a href="article.html" class="links-block__link">How blockchain makes self-sovereign identities possible</a>
            <a href="article.html" class="links-block__link">Blockchain in the real world: 3 enterprise use cases</a>
          </div>
        </div>
      </div>

      {{> support-sidebar}}
    </div>
  </div>
  <!-- end page-section -->
</section>
