<section class="l-support">
  <!-- begin page-section -->
  <div class="page-section">
    <div class="category-links__container">
      <div class="category-links" >
        <h2 class="category-links__header category-links__header--bold">Application</h2>
        <div class="links-block">
          <h4 class="links-block__header">General concerns</h4>
          <a href="article.html" class="links-block__link">Is this a term loan or a merchant cash advance?</a>
          <a href="article.html" class="links-block__link">How can I check the status of my application?</a>
          <a href="article.html" class="links-block__link">Can I get a better rate?</a>
        </div>
        <div class="links-block">
          <h4 class="links-block__header">Business profiling</h4>
          <a href="article.html" class="links-block__link">I have multiple Amazon selling accounts</a>
          <a href="article.html" class="links-block__link">Can I get funding for my .uk account?</a>
          <a href="article.html" class="links-block__link">Can my business partner send another application?</a>
        </div>
        <div class="links-block">
          <h4 class="links-block__header">Linking your accounts</h4>
          <a href="article.html" class="links-block__link">How do I link my bank account?</a>
          <a href="article.html" class="links-block__link">I can't find my bank in the options</a>
          <a href="article.html" class="links-block__link">What permissions do you need?</a>
        </div>
        <div class="links-block">
          <h4 class="links-block__header">Identification</h4>
          <a href="article.html" class="links-block__link">My driver's licence won't be accepted</a>
          <a href="article.html" class="links-block__link">Do I need to submit other documents?</a>
          <a href="article.html" class="links-block__link">I am applying on behalf of the company, which ID do you need?</a>
        </div>
        <div class="links-block">
          <h4 class="links-block__header">Refinancing</h4>
          <a href="article.html" class="links-block__link">How can I apply for another funding?</a>
          <a href="article.html" class="links-block__link">Can I have multiple active funding?</a>
          <a href="article.html" class="links-block__link">Can I get a bigger amount?</a>
        </div>
      </div>
      {{> support-sidebar}}
    </div>
  </div>
  <!-- end page-section -->
</section>
