<section class="l-support">
  <!-- begin page-section -->
  <div class="page-section">
    <div class="categories-container">
      <div class="categories-container__row">
        <div class="category">
          <figure class="category__header">
            <img src="/assets/img/icons/app.svg" class="category__img">
            <figcaption>
                <h3 class="category__title">Application</h3>
            </figcaption>
          </figure>
          <a href="article.html" class="category__link">Is this a term loan or a merchant cash advance?</a>
          <a href="article.html" class="category__link">How can I check the status of my application?</a>
          <a href="article.html" class="category__link category__link--last">Can I get a better rate?</a>
          <a href="category.html" class="category__button btn btn-outline">show all</a>
        </div>
        <div class="category">
          <figure class="category__header">
            <img src="/assets/img/icons/calendar.svg" class="category__img">
            <figcaption>
                <h3 class="category__title">Payments</h3>
            </figcaption>
          </figure>
          <a href="article.html" class="category__link">Slack for Education</a>
          <a href="article.html" class="category__link">Billing details and W-9 form for Slack</a>
          <a href="article.html" class="category__link category__link--last">Plus plan Service Level Agreement</a>
          <a href="category.html" class="category__button btn btn-outline">show all</a>
        </div>
      </div>
      <div class="categories-container__row">
        <div class="category">
          <figure class="category__header">
            <img src="/assets/img/icons/case.svg" class="category__img">
            <figcaption>
                <h3 class="category__title">Business Support</h3>
            </figcaption>
          </figure>
          <a href="article.html" class="category__link">Blockchain in the real world: 3 enterprise use cases</a>
          <a href="article.html" class="category__link">Reset all passwords for your workspace</a>
          <a href="article.html" class="category__link category__link--last">Mandatory workspace two-factor authentication</a>
          <a href="category.html" class="category__button btn btn-outline">show all</a>
        </div>
        <div class="category">
          <figure class="category__header">
            <img src="/assets/img/icons/wallet.svg" class="category__img">
            <figcaption>
                <h3 class="category__title">Account</h3>
            </figcaption>
          </figure>
          <a href="article.html" class="category__link">Invite new members to your workspace</a>
          <a href="article.html" class="category__link">Manage permissions for user groups</a>
          <a href="article.html" class="category__link category__link--last">Change a member's full and display names</a>
          <a href="category.html" class="category__button btn btn-outline">show all</a>
        </div>
      </div>
    </div>
  </div>
  <!-- end page-section -->
</section>

{{> support-contact}}
