---
name: support
title: Welcome to AmzLenders Support
---
<section class="home">
  {{> hero-common}}
</section>

<section>
  <!-- begin page-section -->
  <div class="page-section">
    <div class="page-section__presenter">
    </div>
  </div>
  <!-- end page-section -->
</section>

<section>
  <!-- begin page-section -->
  <div class="page-section is-filled">
    <div class="page-section__presenter">
      <h3 class="page-section__title">Other ways to get help</h3>
    </div>
  </div>
  <!-- end page-section -->
</section>
