
<section>
  <!-- begin page-section -->
  <div class="page-section l-article">
    <div class="blog-container">
      <div class="blog-article">
        <div class="blog-article__tags">
          <div class="blog-article__tag">Marketing</div>
          <div class="blog-article__tag">Technology</div>
          <div class="blog-article__tag">Blockchain</div>
        </div>
        <h2 class="blog-article__header">
          Blockchain in the real world:<br/>
          3 enterprise use cases
        </h2>
        <div class="blog-article__author">
          Steve Creasy, <time>Sep 18, 2018</time>
        </div>
        <div class="blog-article__socials">
          <a href="#"><img class="social-icon" src="/assets/img/icons/social_facebook.svg" alt="facebook"></a>
          <a href="#"><img class="social-icon" src="/assets/img/icons/social_yuotube.svg" alt="facebook"></a>
          <a href="#"><img class="social-icon" src="/assets/img/icons/social_google.svg" alt="facebook"></a>
          <a href="#"><img class="social-icon" src="/assets/img/icons/social_twitter.svg" alt="facebook"></a>
        </div>
        <img src="/assets/img/blog-article.png" class="blog-article__image" >
        <div class="blog-article__text">
          While blockchain technology tends to get the most attention
          for its role in underpinning cryptocurrencies such as Bitcoin
          and Ether, vertical industries are quickly adopting it for its
          efficiency and transparency.
          <br/>
          <br/>
          The electronic, distributed ledger technology has the potential to
          eliminate huge amounts of record-keeping and disrupt IT in ways
          not seen since the internet arrived, according to some experts.
          <br/>
          <br/>
          Banking and financial services were the first to embrace blockchain
          ledgers as their core business functions are ideally suited to its
          distributed nature, transparency and immutability as a system of record.
          <br/>
          <br/>
          In addition to efficiencies, banking and financial services rely on
          established trust between transaction participants, a time-consuming
          and high-friction process due to regulatory constraints, compliance and
          fraud risks and the sheer number of intermediaries involved.
        </div>
        <div class="blog-article__commentary blog-commentary">
          <img src="/assets/img/icons/commentary-author.svg" class="blog-commentary__img">
          <div class="blog-commentary__capture">
            <div class="blog-commentary__name">Steve Creasy</div>
            <p class="blog-commentary__text">
              Classified advertising is a form of advertising that is particularly common
              in newspapers and other periodicals. A classified is usually textually
              based and can consist of as little as the type of item being sold.
            </p>
          </div>
        </div>
        <div class="blog-article__related blog-related">
          <h4 class="blog-related__header">Related Articles</h4>
          <div class="blog-related__item">
            <time class="blog-related__date">Dec 10, 2018</time>
            <a href="#" class="blog-related__link">
              How blockchain makes self-sovereign identities possible
            </a>
          </div>
          <div class="blog-related__item">
            <time class="blog-related__date">Nov 12, 2018</time>
            <a href="#" class="blog-related__link">
              Blockchain in the real world: 3 enterprise use cases
            </a>
          </div>
          <div class="blog-related__item">
            <time class="blog-related__date">Dec 10, 2018</time>
            <a href="#" class="blog-related__link">
                How blockchain makes self-sovereign identities possible
            </a>
          </div>
          <div class="blog-related__item">
            <time class="blog-related__date">Nov 12, 2018</time>
            <a href="#" class="blog-related__link">
              Blockchain in the real world: 3 enterprise use cases
            </a>
          </div>
        </div>
      </div>
      <aside class="blog-sidebar">
          {{> blog-finance}}
          <div class="blog-sidebar__subscribe">
              <h5 class="blog-sidebar__header">Get news and updates by opting in to our mailing list</h5>
              <input class="blog-sidebar__input input" placeholder="Your name"/>
              <input class="blog-sidebar__input input" placeholder="Email address"/>
              <a href="#" class="btn btn-large blog-sidebar__button">submit</a>
          </div>
        </aside>
    </div>
  </div>
</section>
