
{{> hero-blog}}

<section>
  <!-- begin page-section -->
  <div class="page-section l-blog">
    <div class="blog-container">
      <div class="blog-list">
        <article class="blog-list__item post">
          <h3 class="post__header">
              Cooking Recipes Anytime And Anywhere
          </h3>
          <div class="post__author" >
            <figure class="author">
              <img src="/assets/img/icons/author_1.svg" class="author__image">
              <figcaption class="author__capture">
                <div class="author__name">Eleanor Clark</div>
                <time class="author__date">Sep 10, 2018</time>
              </figcaption>
            </figure>
          </div>
          <img class="post__image" src="/assets/img/post-image_1.png">
          <div class="post__text">
              Wow I have a hankering for some really good grill roasted chicken, the melt in your mouth variety
              with some fresh homemade salsa slathered right on top. Just seems that we never have time during
              the lazy days of summer to get everything done. You know, you have to mow the grass, weed the…
          </div>
          <a href="#" class="post__read-more">Read more</a>
        </article>

        <article class="blog-list__item post">
          <h3 class="post__header">
              Cooking Recipes Anytime And Anywhere
          </h3>
          <div class="post__author" >
            <figure class="author">
              <img src="/assets/img/icons/author_2.svg" class="author__image">
              <figcaption class="author__capture">
                <div class="author__name">Eleanor Clark</div>
                <time class="author__date">Sep 10, 2018</time>
              </figcaption>
            </figure>
          </div>
          <img class="post__image" src="/assets/img/post-image_2.png">
          <div class="post__text">
              Wow I have a hankering for some really good grill roasted chicken, the melt in your mouth variety
              with some fresh homemade salsa slathered right on top. Just seems that we never have time during
              the lazy days of summer to get everything done. You know, you have to mow the grass, weed the…
          </div>
          <a href="#" class="post__read-more">Read more</a>
        </article>

        <article class="blog-list__item post">
          <h3 class="post__header">
              Cooking Recipes Anytime And Anywhere
          </h3>
          <div class="post__author" >
            <figure class="author">
              <img src="/assets/img/icons/author_3.svg" class="author__image">
              <figcaption class="author__capture">
                <div class="author__name">Eleanor Clark</div>
                <time class="author__date">Sep 10, 2018</time>
              </figcaption>
            </figure>
          </div>
          <img class="post__image" src="/assets/img/post-image_3.png">
          <div class="post__text">
              Wow I have a hankering for some really good grill roasted chicken, the melt in your mouth variety
              with some fresh homemade salsa slathered right on top. Just seems that we never have time during
              the lazy days of summer to get everything done. You know, you have to mow the grass, weed the…
          </div>
          <a href="#" class="post__read-more">Read more</a>
        </article>
        <div class="pagination">
          <a href="#" class="pagination__item pagination__item--nav">&lsaquo;</a>
          <a href="#" class="pagination__item">1</a>
          <a href="#" class="pagination__item pagination__item--active">2</a>
          <a href="#" class="pagination__item">3</a>
          <a href="#" class="pagination__item">4</a>
          <a href="#" class="pagination__item">5</a>
          <a href="#" class="pagination__item">6</a>
          <a href="#" class="pagination__item pagination__item--nav">&rsaquo;</a>
        </div>
      </div>
    {{> blog-sidebar}}
    </div>
  </div>
</section>
