$base-font-size-px: 16;
$em: (1 / $base-font-size-px) + 0em;

.symbol {
  display: inline-block;
  fill: currentColor;
}

{{#shapes}}
.{{base}} {
  width: ({{width.inner}})*$em;
  height: ({{height.inner}})*$em;
}

{{/shapes}}
