---
name: difference
title: Custom Built Financing for Amazon Sellers
description: Lorem ipsum.
---

{{> hero-common}}


<section>
  <!-- begin page-section -->
  <div class="page-section">
    <figure class="page-section__presenter presenter">
      <img class="presenter__image"
           src="/assets/img/differences/young_business.png"
           srcset="/assets/img/differences/young_business@2x.png 2x, /assets/img/differences/young_business@3x.png 3x">
      <figcaption class="presenter__info v-center">
        <h4 class="presenter__title is-large">Young business? <br>
          Just starting?</h4>
        <p class="presenter__description">Not a problem! We welcome young and <br>emerging sellers, understanding the
          great <br>potential of Amazon businesses.</p>
        <p class="presenter__description"> We know that big returns can happen <br> quicker than the rest would expect
          and
          <br>would want to support you through.</p>
      </figcaption>
    </figure>
  </div>
  <!-- end page-section -->
</section>

<section>
  <!-- begin page-section -->
  <div class="page-section is-filled">
    <!--<div class="page-section__inner">-->
    <figure class="page-section__presenter presenter reversed">
      <img class="presenter__image v-center" src="/assets/img/differences/say_goodbye.png"
           srcset="/assets/img/differences/say_goodbye@2x.png 2x,
					 /assets/img/differences/say_goodbye@3x.png 3x">
      <figcaption class="presenter__info is-shrinked">

        <h4 class="presenter__title is-large">Say Goodbye to Long,<br> Painful Applications</h4>
        <ul class="presenter__description list is-ticked">
          <li class="list__item">7 minute Account Setup</li>
          <li class="list__item">No paperwork</li>
          <li class="list__item">No credit checks</li>
          <li class="list__item">No tax returns</li>
          <li class="list__item">No financial statements</li>
          <li class="list__item">No collateral</li>
        </ul>
      </figcaption>
    </figure>
    <!--</div>-->

  </div>
  <!-- end page-section -->
</section>

<section>
  <!-- begin page-section -->
  <div class="page-section">
    <div class="page-section__presenter">
      <figure class="presenter presenter--vertical">
        <img class="presenter__image" src="/assets/img/sprite-svg/quick_decisions.svg" alt="">
        <figcaption class="presenter__info">
          <h4 class="presenter__title">Quick decisions</h4>
          <ul class="presenter__description list is-ticked">
            <li class="list__item">You need funding today - not next month</li>
            <li class="list__item">We fund businesses in under 5 days</li>
          </ul>
        </figcaption>
      </figure>

      <figure class="presenter presenter--vertical">
        <img class="presenter__image" src="/assets/img/sprite-svg/built_for_amazon.svg" alt="">
        <figcaption class="presenter__info">
          <h4 class="presenter__title">Built for Amazon sellers</h4>
          <ul class="presenter__description list is-ticked">
            <li class="list__item">Designed by a multi-millionaire Amazon seller and financing expert</li>
            <li class="list__item">Made to grow your Amazon business easier than ever</li>
          </ul>
        </figcaption>
      </figure>

      <figure class="presenter presenter--vertical">
        <img class="presenter__image" src="/assets/img/sprite-svg/clear_helpful.svg" alt="">
        <figcaption class="presenter__info">
          <h4 class="presenter__title">Clear, helpful support</h4>
          <ul class="presenter__description list is-ticked">
            <li class="list__item">No pushy salesmen</li>
            <li class="list__item">US-based account support</li>
            <li class="list__item">In house Amazon experts</li>
          </ul>
        </figcaption>
      </figure>
    </div>
  </div>
  <!-- end page-section -->
</section>

<section>
  <!-- begin page-section -->
  <div class="page-section is-filled no-padding-bottom">
    <figure class="page-section__presenter presenter reversed">

      <img class="presenter__image no-gutter" src="/assets/img/differences/iphone.png"
           srcset="/assets/img/differences/iphone@2x.png 2x, /assets/img/differences/iphone@3x.png 3x">

      <figcaption class="presenter__info v-center is-autowidth no-gutter">
        <h4 class="presenter__title is-large">Fair, Transparent and Affordable</h4>
        <ul class="presenter__description list is-ticked">
          <li class="list__item is-active">Pay a low, fixed percentage of your Amazon payout,<br>
            so you’ll never be short on cash.
          </li>
          <li class="list__item is-active">Save 35% vs competitors with our industry-low rates.</li>
        </ul>
      </figcaption>
    </figure>

  </div>
  <!-- end page-section -->
</section>


<section>
  <!-- begin page-section -->
  <div class="page-section">
    <figure class="page-section__presenter presenter">

      <img class="presenter__image" src="/assets/img/differences/dialog.png"
           srcset="/assets/img/differences/dialog@2x.png 2x,
					 /assets/img/differences/dialog@3x.png 3x">

      <figcaption class="presenter__info v-center is-shrinked">
        <h4 class="presenter__title is-large">We Want to Grow<br>
          With You</h4>
        <p class="presenter__description">Not a problem! We welcome young and <br>emerging sellers, understanding the
          great <br>potential of Amazon businesses.</p>
        <p class="presenter__description"> We know that big returns can happen <br> quicker than the rest would expect
          and
          <br>would want to support you through.</p>
      </figcaption>
    </figure>

  </div>
  <!-- end page-section -->
</section>


<section>
  <!-- begin page-section -->
  <div class="page-section is-filled">
    <div class="page-section__presenter">
      <div class="faqs">
        <div class="faqs__header">
          <h3 class="faqs__title">FAQs</h3>
          <a href="#" class="btn btn-outline">view more</a>
        </div>

        <div class="faqs__items accordion accordion--inverse">
          <label class="accordion__item">
            <input type="checkbox" class="accordion__control">
            <span class="accordion__title">Should I apply if don’t meet the criteria?</span>
            <span class="accordion__content">Yes! There’s actually an advantage to applying if you don’t meet our minimums.
              We will periodically review your account, so as soon as your account does meet our criteria you’ll be
              notified – no need to constantly re-apply or wonder when you’re eligible.</span>
          </label>

          <label class="accordion__item">
            <input type="checkbox" class="accordion__control">
            <span class="accordion__title">What do you look at when approving funding application?</span>
            <span class="accordion__content">Yes! There’s actually an advantage to applying if you don’t meet our minimums.
              We will periodically review your account, so as soon as your account does meet our criteria you’ll be
              notified – no need to constantly re-apply or wonder when you’re eligible.</span>
          </label>

          <label class="accordion__item">
            <input type="checkbox" class="accordion__control">
            <span class="accordion__title">Do you require collateral?</span>
            <span class="accordion__content">Yes! There’s actually an advantage to applying if you don’t meet our minimums.
              We will periodically review your account, so as soon as your account does meet our criteria you’ll be
              notified – no need to constantly re-apply or wonder when you’re eligible.</span>
          </label>

          <label class="accordion__item">
            <input type="checkbox" class="accordion__control">
            <span class="accordion__title">Do you check my credit?</span>
            <span class="accordion__content">Yes! There’s actually an advantage to applying if you don’t meet our minimums.
              We will periodically review your account, so as soon as your account does meet our criteria you’ll be
              notified – no need to constantly re-apply or wonder when you’re eligible.</span>
          </label>
        </div>

        <div class="faqs__action">
          <a href="#" class="btn">apply now</a>
        </div>
      </div>


    </div>
  </div>
  <!-- end page-section -->
</section>
