{{> hero-home}}

<section>
  <!-- begin page-section -->
  <div class="page-section">
    <h3 class="page-section__title">Finally, get the funding you need!</h3>
    <p class="page-section__description">Selling on Amazon is tougher than ever, but the opportunity is also – you need
      to be smarter, faster, and have enough funding to take advantage of all the opportunities. With amzLenders you’ll
      finally have enough capital, so you can focus on growing your business</p>

    <div class="page-section__presenter">
      <figure class="presenter presenter--vertical">
        <img class="presenter__image" src="/assets/img/icons/chat_big.svg" alt="">
        <figcaption class="presenter__info">
          <h4 class="presenter__title">Out of stock?</h4>
          <p class="presenter__description">With funding from us, you’ll <br>
            always have enough inventory</p>
        </figcaption>
      </figure>


      <figure class="presenter presenter--vertical">
        <img class="presenter__image" src="/assets/img/icons/chat_big.svg" alt="">
        <figcaption class="presenter__info">
          <h4 class="presenter__title">Need a boost?</h4>
          <p class="presenter__description">Crank up your ad budget to <br> improve sales and search rank</p>
        </figcaption>
      </figure>

      <figure class="presenter presenter--vertical">
        <img class="presenter__image" src="/assets/img/icons/chat_big.svg" alt="">
        <figcaption class="presenter__info">
          <h4 class="presenter__title">Launch more products!</h4>
          <p class="presenter__description">Let us help fund your <br> next big launch</p>
        </figcaption>
      </figure>

    </div>
  </div>
  <!-- end page-section -->
</section>

<section>
  <!-- begin page-section -->
  <div class="page-section is-filled">
    <h3 class="page-section__title">Why Choose Us?</h3>
    <p class="page-section__description">Your Amazon business is far from traditional, but most lender’s don’t get that.
      The only options come with sky-high rates, hidden fees, and payment terms that put your business at risk. You’ll
      fill out lengthy, frustrating applications only to be told your growing business doesn’t meet a long list of
      criteria.</p>

    <div class="page-section__presenter">

      <figure class="presenter-video">
        <div class="presenter-video__mov">
          <iframe width="1280" height="720" src="https://www.youtube.com/embed/Esirh4KgK4Q" frameborder="0"
                  allow="encrypted-media"></iframe>
        </div>
      </figure>

      <div class="page-section__presenter is-list">
        <figure class="presenter-widget">
          <img class="presenter-widget__image" src="/assets/img/sprite-svg/watch.svg" alt="">
          <figcaption class="presenter-widget__info">
            <h4 class="presenter-widget__title">Fast, simple applications</h4>
            <p class="presenter-widget__description">Help us get to know your business by completing a simple profile
              and linking your Amazon account</p>
          </figcaption>
        </figure>

        <figure class="presenter-widget">
          <img class="presenter-widget__image" src="/assets/img/sprite-svg/mouse.svg" alt="">
          <figcaption class="presenter-widget__info">
            <h4 class="presenter-widget__title">Custom built for Amazon sellers</h4>
            <p class="presenter-widget__description">CBuilt by sellers, for sellers - giving you a solution that truly
              fits your business</p>
          </figcaption>
        </figure>

        <figure class="presenter-widget">
          <img class="presenter-widget__image" src="/assets/img/sprite-svg/wallet.svg" alt="">
          <figcaption class="presenter-widget__info">
            <h4 class="presenter-widget__title">Transparent rates</h4>
            <p class="presenter-widget__description">One up-front, flat fee. No interest charges that can spiral out of
              control.</p>
          </figcaption>
        </figure>

        <figure class="presenter-widget">
          <img class="presenter-widget__image" src="/assets/img/sprite-svg/calendar.svg" alt="">
          <figcaption class="presenter-widget__info">
            <h4 class="presenter-widget__title">Payments that fit your schedule</h4>
            <p class="presenter-widget__description">Automatic payments are timed to match your Amazon disbursement
              schedule</p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
  <!-- end page-section -->
</section>

<section>
  <div class="page-section">
    <h3 class="page-section__title">Who Qualifies?</h3>
    <div class="page-section__description">
      <p>Its free &amp; easy to sign up.</p>
      <p>No credit checks. No high pressure sales tactics.</p>
    </div>
    <div class="page-section__presenter">

      <div class="panel panel--inverse is-bigger presenter-panel rounded-8">
        <h4 class="panel__title">You'll need</h4>

        <div class="panel__content">
          <ul class="list is-ticked">
            <li class="list__item">A desire to grow your Amazon business</li>
            <li class="list__item">Business bank account</li>
            <li class="list__item">$2,500+ in monthly sales</li>
            <li class="list__item">500+ completed orders</li>
          </ul>
        </div>

        <div class="panel__extrainfo">
          <h5 class="panel__subtitle">Don’t quite meet our minimums?</h5>
          <p class="panel__description">
            Register now and we’ll automatically pre-qualify you.
          </p>
        </div>

        <div class="panel__action">
          <a href="#" class="btn">apply now</a>
        </div>

      </div>

      <div class="panel presenter-panel rounded-8">
        <h4 class="panel__title">We won't ask for</h4>
        <ul class="list">
          <li class="list__item">Credit score</li>
          <li class="list__item">Tax returns</li>
          <li class="list__item">Financial statements</li>
          <li class="list__item">Mortgage &amp; property values</li>
          <li class="list__item">Business age</li>
          <li class="list__item">Supplier Information</li>
          <li class="list__item">Business Plan</li>
        </ul>
      </div>

    </div>
  </div>
</section>

<section>
  <!-- begin page-section -->
  <div class="page-section">
    <h3 class="page-section__title">How It Works</h3>
    <div class="page-section__description">
      <p>Apply online and your funds can be in your</p>
      <p>bank in 2 to 5 business days.</p>
    </div>

    <div class="page-section__presenter">
      <figure class="presenter presenter--vertical">
        <img class="presenter__image" src="/assets/img/sprite-svg/browser.svg" alt="">
        <figcaption class="presenter__info">
          <p class="presenter__description">Apply online in under 10 <br>minutes. <br>No credit check. No documents to
            gather</p>
        </figcaption>
      </figure>

      <figure class="presenter presenter--vertical">
        <img class="presenter__image" src="/assets/img/sprite-svg/share.svg" alt="">
        <figcaption class="presenter__info">
          <p class="presenter__description">Link your Amazon account <br>and securely connect your <br>bank details
          </p>
        </figcaption>
      </figure>

      <figure class="presenter presenter--vertical">
        <img class="presenter__image" src="/assets/img/sprite-svg/documents.svg" alt="">
        <figcaption class="presenter__info">
          <p class="presenter__description">Review your options, <br>accept your offer and sign <br>the documents</p>
        </figcaption>
      </figure>

      <figure class="presenter presenter--vertical">
        <img class="presenter__image" src="/assets/img/sprite-svg/card.svg" alt="">
        <figcaption class="presenter__info">
          <p class="presenter__description">Funds arrive in your <br>bank account within <br>48 hours</p>
        </figcaption>
      </figure>

    </div>
  </div>
  <!-- end page-section -->
</section>

<section>
  <div class="page-section">

    <div class="page-section__presenter">
      <figure class="presenter-founder">
        <img class="presenter-founder__image rounded-8" src="/assets/img/jenny-hill-202504.png" alt="">
        <figcaption class="presenter-founder__info">
          <h4 class="presenter-founder__title">Meet Steve</h4>
          <p class="presenter-founder__description">The lending industry simply doesn’t understand Amazon businesses,
            You’ll pay obscene rates, or lenders
            will avoid your business altogether. That’s why amzLenders exists.</p>
          <p class="presenter-founder__description">I’m Steve Creasy, founder of amzLenders. Over the past two years,
            I turned a $1,200 investment into a
            multi-million dollar Amazon business.</p>
          <div class="presenter-founder__action">
            <a href="#" class="btn btn-outline">read more</a>
          </div>
        </figcaption>
      </figure>

    </div>
  </div>
</section>

<section>
  <!-- begin page-section -->
  <div class="page-section">

    <div class="page-section__presenter">
      <figure class="presenter-testimonial rounded-8">
        <img class="presenter-testimonial__image rounded" src="/assets/img/rosalie-brock.png" alt="">
        <figcaption class="presenter-testimonial__info">
          <h4 class="presenter-testimonial__title">Rosalie Brock</h4>
          <p class="presenter-testimonial__description">Sales Manager</p>
          <p class="presenter-testimonial__extrainfo">We wouldn’t have as strong a business today without xSellco.
            Huge brands
            like Nike, Under Armour and Converse, have the confidence that we can represent their brand well</p>
        </figcaption>
      </figure>

      <figure class="presenter-testimonial rounded-8">
        <img class="presenter-testimonial__image rounded" src="/assets/img/james-monroe.png" alt="">
        <figcaption class="presenter-testimonial__info">
          <h4 class="presenter-testimonial__title">James Monroe</h4>
          <p class="presenter-testimonial__description">Director</p>
          <p class="presenter-testimonial__extrainfo">We wouldn’t have as strong a business today without xSellco.
            Huge brands
            like Nike, Under Armour and Converse, have the confidence that we can represent their brand well</p>
        </figcaption>
      </figure>

      <figure class="presenter-testimonial rounded-8">
        <img class="presenter-testimonial__image rounded" src="/assets/img/ronald-bowers.png" alt="">
        <figcaption class="presenter-testimonial__info">
          <h4 class="presenter-testimonial__title">Ronald Bowers</h4>
          <p class="presenter-testimonial__description">CEO</p>
          <p class="presenter-testimonial__extrainfo">We wouldn’t have as strong a business today without xSellco.
            Huge brands
            like Nike, Under Armour and Converse, have the confidence that we can represent their brand well</p>
        </figcaption>
      </figure>

    </div>

    <div class="page-section__action">
      <a class="btn" href="#">get started</a>
    </div>
  </div>
  <!-- end page-section -->
</section>
