---
title: Financing designed to fit your business
description: Lorem ipsum.
---

<section class="home">
  {{> hero-common}}
</section>

<section>
  <!-- begin page-section -->
  <div class="page-section">
    <h3 class="page-section__title">Fast, simple applications</h3>
    <div class="page-section__description">
      <p>Our simple online application has no impact on your credit score. Just tell </p>
      <p>us about your business and link your accounts to get your offer.</p>
    </div>

    <div class="page-section__presenter">
      <figure class="presenter presenter--vertical">
        <img class="presenter__image" src="/assets/img/sprite-svg/browser.svg" alt="">
        <figcaption class="presenter__info">
          <p class="presenter__description">Apply online in under 10 minutes. No credit check. No documents to
            gather</p>
        </figcaption>
      </figure>

      <figure class="presenter presenter--vertical">
        <img class="presenter__image" src="/assets/img/sprite-svg/share.svg" alt="">
        <figcaption class="presenter__info">
          <p class="presenter__description">Link your Amazon account and securely connect your bank details</p>
        </figcaption>
      </figure>

      <figure class="presenter presenter--vertical">
        <img class="presenter__image" src="/assets/img/sprite-svg/documents.svg" alt="">
        <figcaption class="presenter__info">
          <p class="presenter__description">Review your options, accept your offer and sign the documents</p>
        </figcaption>
      </figure>

      <figure class="presenter presenter--vertical">
        <img class="presenter__image" src="/assets/img/sprite-svg/card.svg" alt="">
        <figcaption class="presenter__info">
          <p class="presenter__description">Funds arrive in your bank account within 48 hours</p>
        </figcaption>
      </figure>
    </div>
  </div>
  <!-- end page-section -->
</section>

<section>
  <!-- begin page-section -->
  <div class="page-section is-filled">
    <h3 class="page-section__title">Payments That Fit Your Business</h3>
    <div class="page-section__description">
      <p>We show you exactly how much you’ll pay – no hidden charges or interest</p>
      <p>payments that can spiral out of control.</p>
    </div>

    <div class="page-section__inner">
      <figure class="page-section__presenter presenter reversed">
        <div class="presenter__image">
          <img class="presenter__image--shadow" src="/assets/img/process/one_flat_fee.png"
               srcset="/assets/img/process/one_flat_fee@2x.png 2x, /assets/img/process/one_flat_fee@3x.png 3x">
        </div>
        <!--<img class="presenter__image presenter__image&#45;&#45;shadow" src="/assets/img/one_flat_fee.png" alt="">-->
        <figcaption class="presenter__info">
          <h4 class="presenter__title">One Flat Fee</h4>
          <p class="presenter__description">You’ll pay one flat fee, based on how much you borrow. It’s not an
            interest
            rate, it’s a percentage of the loan amount known as the “factor rate”. Unlike interest-rate based loans,
            which will rack up mountains of interest if you fall behind.</p>
        </figcaption>
      </figure>
    </div>

    <div class="page-section__inner">
      <figure class="page-section__presenter presenter">

        <div class="presenter__image">
          <img class="presenter__image--shadow"  src="/assets/img/process/flexible_payments.png"
               srcset="/assets/img/process/flexible_payments@2x.png 2x, /assets/img/process/flexible_payments@3x.png 3x">
        </div>
        <!--<img class="presenter__image presenter__image&#45;&#45;shadow" src="/assets/img/flexible_payments.png" alt="">-->
        <figcaption class="presenter__info">
          <h4 class="presenter__title">Flexible Payments</h4>
          <p class="presenter__description">Never worry about making payments again! We deduct an affordable portion
            of
            your Gross Amazon Revenue, so you can pay on time and still have enough left to pay other bills. Pay when
            you sell.</p>
        </figcaption>
      </figure>
    </div>

    <div class="page-section__inner">
      <figure class="page-section__presenter presenter reversed">
        <div class="presenter__image">
          <img class="presenter__image--shadow"  src="/assets/img/stress_free_scheduling.png" alt="">
        </div>
        <figcaption class="presenter__info">
          <h4 class="presenter__title">Stress Free Scheduling</h4>
          <p class="presenter__description">Worried about payment deadlines? Payments are automatically made on your
            schedule, so you’ll never be short on cash.</p>
        </figcaption>
      </figure>
    </div>
  </div>
  <!-- end page-section -->
</section>

<section>
  <!-- begin page-section -->
  <div class="page-section">
    <div class="page-section__presenter">
      <div class="faqs">
        <div class="faqs__header">
          <h3 class="faqs__title">FAQs</h3>
          <a href="#" class="btn btn-outline">view more</a>
        </div>

        <div class="faqs__items accordion">
          <label class="accordion__item">
            <input type="checkbox" class="accordion__control">
            <span class="accordion__title">How does repayment work?</span>
            <span class="accordion__content">Repayments are due each time Amazon deposits funds in your account, starting
              the day after you are funded.</span>
          </label>

          <label class="accordion__item">
            <input type="checkbox" class="accordion__control">
            <span class="accordion__title">What is a factor rate?</span>
            <span class="accordion__content">Repayments are due each time Amazon deposits funds in your account, starting
              the day after you are funded.</span>
          </label>

          <label class="accordion__item">
            <input type="checkbox" class="accordion__control">
            <span class="accordion__title">What is the remittance rate?</span>
            <span class="accordion__content">Repayments are due each time Amazon deposits funds in your account, starting
              the day after you are funded.</span>
          </label>
        </div>

        <div class="faqs__action">
          <a href="#" class="btn">apply now</a>
        </div>
      </div>
    </div>
  </div>
  <!-- end page-section -->
</section>
