<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta name="viewport" content="width=1400"> -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AMZ Lenders</title>
  <link rel="stylesheet" href="/{{root}}assets/css/app.min.css">
</head>
<body>
<div class="container is-fixed">
  {{> header}}
</div>
<div class="container">
  {{> body}}
  {{> footer}}
</div>
<script src="/{{root}}assets/js/scripts.js"></script>
</body>
</html>
