body {
  font-family: 'Hind', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

.article-text {
  margin-bottom: 42px;
  color: #7f90a3;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.56;
  text-align: left;
}
