.blog-sidebar {
  max-width: 330px;

  &__finance {
    min-height: 365px;
    padding: 30px;
    background-color: #FAFCFF;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  &__header {
    color: #35495E;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  &__image {
    height: 38px;
    width: 38px;
    margin-right: 18px;
  }

  &__name {
    color: #35495E;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
  }

  &__button {
    width: 100%;
    margin-top: auto;
    text-align: center;
  }

  &__get-it {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 280px;
    max-width: 330px;
    padding: 30px;
    background-image: url(/assets/img/get-it.png);
  }
}