.header {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 56px;
  padding: 16px;
  background-color: $c-primary-dark;

  &__branding {
    height: 24px;
    display: flex;
  }

  &__logo {
    display: block;
    width: auto;
    height: 24px;
  }

  &__search {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
  }

  &__delimiter {
    margin: 0 12px 0 12px;
    height: 24px;
    width: 1px;
    background-color: #F8981D;
    display: none;
  }

  &__capture {
      color: #F8981D;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      display: none;
      text-decoration: none;
  }

  &__nav {
    display: none;
  }

  &__action {
    display: none;
  }

  &__toggle {
    display: none;

    &:checked {
      ~ .header__nav {
        display: block;
        flex-basis: 100%;
        padding-top: 24px;
        padding-left: 4px;
      }

      ~ .header__action {
        display: block;
        margin-bottom: 8px;
        margin-top: 30px;
        padding-left: 4px;

      }

    }
  }

  &__hamburger {
    display: block;
    width: 16px;
    height: 16px;
  }
}

@media screen and (min-width: 981px) {
  .header {
    &__branding {
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
    }

    &__delimiter {
      display: block;
    }

    &__capture {
      display: block;
    }

    &__hamburger {
      display: none;
    }

    &__nav {
      display: block;
      margin: 0 auto;
    }

    &__action {
      display: block;
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);

      .btn:not(:last-child) {
        margin-right: 16px;
      }
    }
  }
}

//.header {
//  display: flex;
//  //display: none;
//  position: relative;
//  justify-content: space-between;
//  min-height: 56px;
//  padding-right: 16px;
//  padding-left: 16px;
//  background-color: $c-primary-dark;
//
//  &__branding {
//    position: absolute;
//    top: 50%;
//    left: 16px;
//    transform: translateY(-50%);
//  }
//
//  &__logo {
//    display: block;
//    width: 180px;
//    min-width: 180px;
//  }
//
//  &__toggle {
//    display: none;
//  }
//
//  &__hamburger {
//    display: block;
//  }
//
//  &__nav {
//    margin: 0 auto;
//  }
//
//  &__action {
//    position: absolute;
//    top: 50%;
//    right: 16px;
//    transform: translateY(-50%);
//
//    .btn:not(:last-child) {
//      margin-right: 16px;
//    }
//  }
//}
