<div class="blog-sidebar__finance">
  <h5 class="blog-sidebar__header">Grow your Amazon business with amzLenders financing!</h5>
  <div class="blog-sidebar__inner">
    <figure class="blog-sidebar__item">
      <img src="/assets/img/sprite-svg/watch.svg" class="blog-sidebar__image">
      <figcaption class="blog-sidebar__name">
        Funds in 2-5 days
      </figcaption>
    </figure>

    <figure class="blog-sidebar__item">
      <img src="/assets/img/sprite-svg/calendar.svg" class="blog-sidebar__image">
      <figcaption class="blog-sidebar__name">
        Payments timed with your disbursements
      </figcaption>
    </figure>

    <figure class="blog-sidebar__item">
      <img src="/assets/img/sprite-svg/diagram.svg" class="blog-sidebar__image">
      <figcaption class="blog-sidebar__name">
        Save 35% vs competitors
      </figcaption>
    </figure>
  </div>
  <a href="#" class="btn btn-large btn-outline blog-sidebar__button">learn more</a>
</div>
