<header class="header">
  <!-- begin header__branding -->
  <div class="header__branding">
    <a href="/" title="" rel="home">
      <img class="header__logo" src="/assets/img/sprite-svg/amzlenders-logo-white-text.svg" alt="AMZ Lenders logo">
    </a>
  </div>
  <!-- end header__branding -->

  <label for="hamburger">
    <img class="header__hamburger" src="/assets/img/icons/hamburger.svg" alt="">
  </label>
    <input id="hamburger" class="header__toggle" type="checkbox"/>
  <!-- begin header__nav -->
  <nav class="header__nav nav">
    <ul class="nav__items">
      <li class="nav__item">
        <a class="nav__link" href="process.html">Process</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="difference.html">Our Difference</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="about.html">About</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">Faq</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">Contact</a>
      </li>
    </ul>
  </nav>
  <!-- end header__nav -->

  <div class="header__action">
    <a class="btn btn-invert" href="#">Log In</a>
    <a class="btn" href="#">Get Started</a>
  </div>
</header>
