<header class="header header_support">
  <!-- begin header__branding -->
  <div class="header__branding">
    <a href="/" title="" rel="home">
      <img class="header__logo" src="/assets/img/sprite-svg/amzlenders-logo-white-text.svg" alt="AMZ Lenders logo">
    </a>
    <div class="header__delimiter"></div>
    <span class="header__capture">Support</span>
  </div>
  <div class="header__search">
    <div class="search">
      <input name="search" class="search__input" placeholder="Search" type="search">
      <button class="search__button" type="submit">
        <img src="/assets/img/icons/search.svg" width="18px" height= "18px">
      </button>
    </div>
  </div>
  <!-- end header__branding -->

  <label for="hamburger">
    <img class="header__hamburger" src="/assets/img/icons/hamburger.svg" alt="">
  </label>
    <input id="hamburger" class="header__toggle" type="checkbox"/>

  <div class="header__action">
    <a class="btn btn-invert" href="#">Log In</a>
    <a class="btn" href="#">Get Started</a>
  </div>
</header>
