<!-- begin hero -->
<div class="hero is-home">
  <div class="hero__socials">
    <a href=""><img class="social-icon" src="/assets/img/icons/facebook.svg" alt=""></a>
    <a href=""><img class="social-icon" src="/assets/img/icons/twitter.svg" alt=""></a>
    <a href=""><img class="social-icon" src="/assets/img/icons/linkedin.svg" alt=""></a>
    <a href=""><img class="social-icon" src="/assets/img/icons/reddit.svg" alt=""></a>
    <a href=""><img class="social-icon" src="/assets/img/icons/email.svg" alt=""></a>
  </div>

  <div class="hero__inner">
    <h2 class="hero__title">Simple, fast & affordable financing <br>built for Amazon sellers </h2>
    <p class="hero__subtitle">Spend time GROWING YOUR BUSINESS, not funding it</p>
    <a href="" class="hero__action btn btn-large">apply now</a>
  </div>
</div>
<!-- end hero -->
