<!-- begin hero-common -->
<div class="hero is-support">
    <div class="hero__inner">
      <h2 class="hero__title">Welcome to AmzLenders Support</h2>
      <p class="hero__subtitle">Find answers to your questions and concerns 24/7</p>
      <!-- search input hero -->
      <div class="search search--hero" id="search-hero">
          <input name="search" class="search__input search__input--hero" placeholder="Search" type="search">
          <button class="search__button search__button--hero" type="submit">
            <img src="/assets/img/icons/search.svg" width="18px" height= "18px">
          </button>
        </div>
        <!-- end search input hero -->
      </div>
  </div>
  <!-- end hero-common -->
