<aside class="sidebar">
  <div class="sidebar__categories">
    <h3 class="sidebar__header">Other Categories</h3>
    <a href="category.html" class="sidebar__link">
      <figure class="sidebar__category">
        <img src="/assets/img/icons/app.svg" class="sidebar__img">
        <figcaption class="sidebar__category-name">Application</figcaption>
      </figure>
    </a>
    <a href="category.html" class="sidebar__link">
      <figure class="sidebar__category">
        <img src="/assets/img/icons/calendar.svg" class="sidebar__img">
        <figcaption class="sidebar__category-name">Payments</figcaption>
      </figure>
    </a>
    <a href="category.html" class="sidebar__link">
      <figure class="sidebar__category">
        <img src="/assets/img/icons/case.svg" class="sidebar__img">
        <figcaption class="sidebar__category-name">Business Support</figcaption>
      </figure>
    </a>
    <a href="category.html" class="sidebar__link">
      <figure class="sidebar__category">
        <img src="/assets/img/icons/wallet.svg" class="sidebar__img">
        <figcaption class="sidebar__category-name">Account</figcaption>
      </figure>
    </a>
  </div>

  <div class="sidebar__contact">
    <h6>Can't seem to find what you're looking for?</h6>
    <a href="tel:(862) 703-7500" class="sidebar__button btn btn-outline">call us</a>
    <a href="#" class="sidebar__button btn btn-outline">live chat</a>
    <a href="#" class="sidebar__button btn btn-outline">send message</a>
  </div>
</aside>