<section class="l-support">
    <!-- begin page-section -->
    <div class="page-section is-filled">
      <h3 class="page-section__title">Other ways to get help</h3>
      <div class="page-section__presenter">

      <figure class="presenter presenter--vertical">
          <img class="presenter__image" src="/assets/img/icons/message.svg" alt="">
          <figcaption class="presenter__info">
            <a href="#" class="btn btn-outline">send message</a>
          </figcaption>
        </figure>

        <figure class="presenter presenter--vertical">
          <img class="presenter__image" src="/assets/img/icons/mail.svg" alt="">
          <figcaption class="presenter__info">
            <a href="mailto:support@amzlenders.com" class="btn btn-outline">send email</a>
          </figcaption>
        </figure>

        <figure class="presenter presenter--vertical">
          <img class="presenter__image" src="/assets/img/icons/chat_big.svg" alt="">
          <figcaption class="presenter__info">
              <a href="#" class="btn btn-outline">launch chat</a>
          </figcaption>
        </figure>

      </div>
    </div>
    <!-- end page-section -->